/* Propriétés en plus */
html {
    scroll-behavior: smooth;
}
/* Paramètres de page */
* {
    margin: 0;
    padding: 0;
    user-select: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Bold.ttf);
}

/* ----------CSS POUR LA PAGE PRINCIPALE---------- */

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0c0c0c;
    font-family: 'Inter', sans-serif;
    color: white;
}

.title {
    font-size: 80px;
    line-height: 82px;
}

    .title span {
        color: #f50c3d;
    }

.anchor {
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}

.anchorBtn {
    position: fixed;
    z-index: 1;
    color: #f50c3d;
    bottom: 110px;
    right: 50px;
    font-size: 35px;
}

    .anchorBtn:hover {
        color: white;
    }

/* Navbar */
aside {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.3s;
    background-color: #0c0c0c;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: inset -2px 0 0 0 #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    aside hr {
        width: 90%;
    }

    aside a {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }

        aside a:hover {
            color: #f50c3d;
            transition: 0.3s;
        }

nav {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
    justify-content: center;
}

    nav a {
        text-decoration: none;
        font-size: 25px;
        color: white;
        margin: 0 25px;
    }

    nav i {
        margin: 0 20px;
    }

.menu {
    display: none;
    flex: 1;
}

.titles {
    flex: 1;
    display: flex;
}

    .titles a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #f50c3d;
        transition: 0.3s;
    }

    .titles a:hover::after {
        width: 100%;
        transition: 0.3s;
    }

    .titles .nounder::after {
        height: 0;
    }

    .titles a:hover {
        color: #f50c3d;
        transition: 0.3s;
    }

    .titles a:focus {
        color: #f50c3d;
        transition: 0.3s;
    }

.social {
    display: flex;
    margin: 0 22px;
    justify-content: flex-end;
    flex: 1;
}

    .social a {
        font-size: 28px;
    }

        .social a:hover {
            color: #f50c3d;
            transition: 0.3s;
        }

/* Header */

header {
    margin-top: 80px;
    min-height: 520px;
    background-image: url(../img/bgheader.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    header img {
        max-width: 95%;
        margin-bottom: 60px;
    }

.headerSubs {
    margin: 0 10px;
    font-size: 18px;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

    .headerSubs p {
        color: #f50c3d;
        margin: 0 10px;
    }

main {
    min-height: 500px;
    background-color: #0c0c0c;
}

/* About */

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

    .about img {
        width: 470px;
        height: 626px;
        border-radius: 6px;
        margin: 0 50px;
    }

.me {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

    .me p {
        font-size: 20px;
        line-height: 35px;
        margin-top: 30px;
    }

    .me .title {
        font-size: 80px;
        margin-top: 20px;
    }

    .me span {
        color: #f50c3d;
    }

    .me .sub span {
        text-decoration: underline;
    }

/* Services */

.services {
    width: 100%;
    min-height: 900px;
    padding: 50px 0;
    background-image: url(../img/bgmain.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .services .list {
        display: flex;
        justify-content: center;
        max-width: 1500px;
        flex-wrap: wrap;
        margin-top: 26px;
    }

.serviceBox {
    width: 320px;
    height: 260px;
    margin: 45px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #0c0c0c;
}

    .serviceBox:hover {
        box-shadow: 0 0 0 2px #f50c3d;
    }

    .serviceBox i {
        font-size: 60px;
        color: #f50c3d;
    }

    .serviceBox p {
        font-size: 13px;
        line-height: 26px;
    }

    .serviceBox .subtitle {
        font-size: 32px;
        display: flex;
        align-items: center;
        flex: 1;
        line-height: 34px;
    }

/* Projects */

.projects {
    width: 100%;
    min-height: 900px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .projects .subtitle {
        font-size: 20px;
        margin-top: 50px;
        letter-spacing: 4px;
        line-height: 2;
        text-align: center;
    }

    .projects .imgList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

.imgList img {
    width: 550px;
    height: 762px;
    margin: 10px;
}

    .imgList img:hover {
        box-shadow: 0 0 0 2px #f50c3d;
    }

/* Contact */

.contact {
    width: 100%;
    min-height: 800px;
    padding: 50px 0;
    background-image: url(../img/bgfooter.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .contact .title {
        font-size: 50px;
    }

.infoForm {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.infos {
    display: flex;
    flex-direction: column;
    margin-left: 0 50px;
}

    .infos * {
        display: flex;
        align-items: center;
    }

    .infos p {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        margin: 15px 0;
    }

    .infos i {
        min-width: 50px;
        color: #f50c3d;
        text-align: center;
    }

    .infos span {
        display: flex;
        align-items: center;
    }

form {
    width: 750px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

    form * {
        height: 50px;
        background-color: transparent;
        border: 2px solid #ffffff;
        border-radius: 5px;
        padding: 0 20px;
        resize: none;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 20px;
        color: white;
        font-family: 'Inter', sans-serif;
        outline: none;
    }

        form *:hover {
            border: 2px solid #f50c3d;
            transition: 0.3s;
        }

        form *:focus {
            border: 2px solid #f50c3d;
        }

textarea {
    height: 260px;
    padding: 20px;
}

button {
    border: 2px solid #f50c3d;
    color: #f50c3d;
}

    button:hover {
        transition: 0.5s;
        color: #ffffff;
        background-color: #f50c3d;
        border: 2px solid #f50c3d;
    }

/* Article */

article {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    article.light {
        background-color: #0f0f0f;
    }

    article img {
        margin: 40px;
        width: 700px;
        height: 445px;
        border-radius: 6px;
    }

        article img:hover {
            box-shadow: 0 0 0 2px #f50c3d;
            transition: 0.3s;
        }

.articleInfos {
    flex: 1;
    margin-right: 20px;
}

    .articleInfos .title {
        font-size: 55px;
    }

    .articleInfos .details {
        font-size: 20px;
        margin: 40px 0;
    }

    .articleInfos a {
        color: #f50c3d;
        margin: 40px 0 0;
        font-size: 25px;
        text-decoration: none;
    }

/* Footer */

footer {
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

    footer p {
        flex: 1;
        text-align: end;
        margin: 0 22px;
        font-size: 20px;
    }

.logoFooter {
    background-image: url(../img/logowhite.png);
    background-size: cover;
    background-position: center;
    width: 165px;
    height: 35px;
    margin: 0 22px;
}

/* Responsive */

@media screen and (max-width: 768px) {
    header {
        min-height: 360px !important;
    }

    .me p {
        font-size: 16px;
    }

    .imgList img {
        width: 400px;
        height: 554px;
    }

    form {
        width: 350px !important;
    }

    aside {
        box-shadow: none;
    }

    nav a {
        margin: 0 !important;
    }

    article {
        flex-direction: column;
    }

        article img {
            margin: 10px;
            width: 400px;
            height: 254px;
            filter: brightness(100%) !important;
        }

    .articleInfos {
        position: initial !important;
        pointer-events: all !important;
    }

        .articleInfos .title {
            font-size: 30px !important;
            line-height: 32px !important;
        }
}

@media screen and (max-width: 960px) {
    .headerSubs {
        flex-direction: column;
    }

    header img {
        margin-bottom: 0 !important;
    }

    .infoForm {
        max-width: 100%;
    }

    form {
        width: 650px;
    }
}

@media screen and (max-width: 1200px) {
    .titles {
        display: none;
    }

    .menu {
        display: block;
    }

    header {
        min-height: 420px;
    }

        header img {
            margin-bottom: 40px;
        }

    .about {
        flex-direction: column;
    }

        .about img {
            width: 300px;
            height: 400px;
        }

    .me {
        align-items: center;
    }

        .me .title {
            font-size: 50px;
        }

        .me p {
            text-align: center;
        }

    .title, .title span {
        font-size: 50px;
        text-align: center;
    }

    .serviceBox {
        margin: 35px 45px;
    }

    .contact .title {
        line-height: 60px;
        max-width: 950px;
    }

    .infoForm {
        flex-direction: column;
        align-items: center;
    }

    .infos {
        align-items: center;
        margin: 0;
    }

    form {
        margin: 40px 0 0;
    }

    article img {
        filter: brightness(15%);
    }

    .articleInfos {
        position: absolute;
        max-width: 675px;
        text-align: center;
        margin: 0;
        pointer-events: none
    }
}

@media screen and (max-width: 1450px) {
    nav a {
        margin: 0px 15px;
    }

    .articleInfos .title {
        font-size: 50px;
        line-height: 52px;
    }

    .articleInfos .details {
        font-size: 15px;
        margin: 30px 0;
    }
}
