body {
    background-color: #f7f7f8 !important;
    color: #0c0c0c !important;
}

.anchorBtn:hover {
    color: #0c0c0c;
}

/* Navbar */

aside {
    background-color: #f7f7f8 !important;
}

nav {
    background-color: #f7f7f8 !important;
}

    nav a {
        color: #0c0c0c !important;
    }

/* Header */

main {
    background-color: #f7f7f8 !important;
}

article.light {
    background-color: white;
}

/* Services */

.serviceBox {
    background-color: #f7f7f8 !important;
}

.services .title {
    color: white !important;
}

/* Contact */

.contact {
    color: white !important;
}

form * {
    color: white !important;
}

/* Footer */

.logoFooter {
    background-image: url(../img/logoblack.png);
}